/*
  FONTS BY GOOGLE
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background: $dark;
}

/*
  Don't touch
 */

.opt-centered {
  user-select: none;

  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.opt-h1 {
  color: $accent-color;
}
.opt-p {
  color: #ffffff;
  margin-top: 15px;
}

/*
  Don't touch
 */